 

/* Add your custom styles here */
body {
    padding-top: 56px; /* Adjusted for the fixed navbar */
}

.container {
    text-align: center;
    margin-top: 50px;
}  body {
    position: relative; /* Set position to relative to make ::before and ::after relative to the body */
    background-image: url('images/background2.jpg'); /* Replace 'background.jpg' with the path to your image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fixed background */
    margin: 0; /* Remove default body margin */

    /* Add additional styles as needed */
    color: #ffffff; /* Set text color to white on top of the background */
}

.navbar {
    position: fixed; /* Fixed position */
    width: 100%; /* Full width */
    z-index: 1000; /* Set a higher z-index to bring the navbar to the front */
    background-color: transparent !important; /* Make the background transparent */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff !important; /* White text color */
}

.navbar-toggler-icon {
    background-color: #ffffff; /* White color for the navbar toggler icon */
}
/* Add styles for the element you want to interact with */
.enlarge-on-hover {
    transition: transform 0.3s ease; /* Add smooth transition effect */
}

/* Define the enlarged size when hovered over */
.enlarge-on-hover:hover {
    transform: scale(1.1); /* Enlarge the element by 10% */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Add a class to style the footer */
.footer-container {
    color: #fff; /* White text color */
    text-align: center; /* Center-align text */
    padding: 10px; /* Add some padding for better visibility */
    position: fixed; /*fixed positioning*/
    bottom:0; /*Allign to the bottom of the screen*/
    left:0; /*Align to the left of the screen*/
    width: 100%; /*full width*/
}

/* Style the text inside the footer */
.footer-container p {
    margin: 0; /* Remove default margin to avoid extra spacing */
}
/* styles.css */

/* Style for the project cards */
.card {
    width: 200px; /* Adjust the width as needed */
    margin: 10px; /* Add some margin for spacing between cards */
    border: 4px solid #87CEEB; /* BlueSky color border */
    border-radius: 10px; /* Add rounded edges */
}

/* Style for the project card images */
.card img {
    border-radius: 8px 8px 0 0; /* Rounded edges only at the top */
}

/* Style for the project card title */
.card-title {
    font-size: 1.2em; /* Adjust the font size as needed */
    font-weight: bold; /* Bold text */
    margin: 10px; /* Add margin for spacing */
}

/* Style for the project card description */
.card-text {
    font-size: 1em; /* Adjust the font size as needed */
    margin: 10px; /* Add margin for spacing */
}
